# Byte-compiled / Python cache
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.venv/

# Dependencias
*.egg-info/
*.egg
dist/
build/

# Archivos de configuración sensibles
.env
.env.*  # si tienes varios archivos de entorno
secrets.json
config.json

# Logs
*.log
logs/

# IDEs
.vscode/
.idea/

# Bases de datos locales
*.sqlite3
*.db

# Macros de sistema
.DS_Store
Thumbs.db

# Migraciones (opcional)
migrations/  # si quieres que cada entorno haga sus propias migraciones

# Otros
*.bak
*.tmp

